<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/78f25a04b2.js" crossorigin="anonymous"></script>

    <title>Forja Home</title>
</head>
<body>
    <header class="indexh">
        <div class="logo">
            <img src="../assets/img/0. logoforja.png" alt=""><img src="../assets/img/inoculación.svg" class="v">
        </div>
        <div class="contai">
           <div class="iconitos">
                <i class="fa-solid fa-phone"></i>
                <p>+67 17447050</p>
            </div>
            <div class="iconitos">
                <i class="fa-solid fa-location-dot"></i>
                <p>Carrera 21 # 98-71 Segundo Piso1<br>
                Bogotá - Colombia</p>
            </div>
            <div class="iconitos">
                <a href="iniciarsesion.html"><button class="boton">Iniciar sesión <i class="fa-solid fa-user"></i></button></a>
            </div>
        </div>
        <div class="arrowh">
            <img src="../assets/img/1. linea.png" alt="">
        </div>
    </header>
    <main>
        <section class="foto-banner">
            <article class="banner">
                <img src="../assets/img/2. medico.png" alt="">
                <div class="text-foto">
                    <h2>Unidos ganaremos la batalla</h2>
                    <h1>Covid-19</h1>
                    <a href="iniciarsesion.html"><button class="boton">Iniciar sesión <i class="fa-solid fa-user"></i></button></a>
                </div>
                <img src="../assets/img/12. franja.svg" class="banner2img">
            </article>
        </section>
        <section class="recomendaciones">
            <article class="recomendacion">
                <h3><i class="fa-solid fa-circle-arrow-right"></i>Signos compatibles con Covid-19</h3>
                <ul>
                    <li>Fiebre de 37.5° a más</li><br>
                    <li>Dolor de garganta</li><br>
                    <li>Tos y dificultad respiratoria</li><br>
                    <li>Dolor de cabeza</li><br>
                    <li>Vomito y diarrea</li><br>
                </ul>
            </article>
            <article  class="recomendacion">
                <h3><i class="fa-solid fa-circle-question"></i>¿Qué hacer?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat dignissimos vitae nulla quibusdam recusandae odio, facilis, sunt delectus itaque tempore, maxime totam. Aspernatur similique ipsum harum minima esse ut libero?</p>
                <img src="../assets/img/5. oms.png" alt="Logo OMS"class="OMS">
                <a href="curso.html">Curso online nuevo coronavirus OMS</a>
            </article>
        </section>
        <section class="botones">
            <article class="botono">
                <button class="foot">Enfermedad por coronavirus (COVID-19): Accesibilidad y asignación de vacunas</button>
            </article>
            <article class="botono">
                <button class="foot">Seguridad de las vacunas contra (COVID-19)| CDC</button>
            </article>
            <article class="botono">
                <button class="foot">Luego de la vacunación ¿qué síntomas se pueden presentar?</button>
            </article>
            <article class="botono">
                <button class="foot">Lineamiento técnico para la gestión de residuos de vacunación- Covid-19</button>
            </article>
            <article class="botonou">
                <button class="foot">Recomendaciones generales al tener contacto con personas infectadas</button>
            </article>
        </section>
    </main>
    <footer>
        <div class="ultimatum">
            <h4>2008 FORJA EMPRESAS</h4>
        </div>
    </footer>
</body>
</html>