<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/78f25a04b2.js" crossorigin="anonymous"></script>
    <title>Nueva Vacuna</title>
</head>
<body>
        <div class="headerpacientes">
            <img src="../assets/img/0. logoforja.png" alt="">
            <div class="arriba">
                <div class="i1">
                    <a href="./dasboard.html"><i class="fa-solid fa-house-chimney-user"></i></a>
                </div>
                <div class="i1">
                    <a href="../index.html" type="click" id="cerrar"><i class="fa-solid fa-power-off"></i></a>
                </div>
            </div>
        </div>
        <div class="barrap">
            <img src="../assets/img/12. franja.svg" alt="">
        </div>
        <div class="contieneArriba">
            <div class="titulo">
              <p>Estado: Activo</p>
              <h1>INFORMACION DEL PACIENTE</h1>
            </div>
            <div class="buttonsUp">
              <button form="form_pacientes" class="guardar" id="guardar" class="btn-alert">Guardar cambios</button>
                  <button id="closeForm" class="guardar">Cerrar</button>
            </div>
          </div>
        <div class="tpacientesadd">
            <p>NUEVA VACUNA</p>
        </div>
    <form class="borde-contenedor" id="form_pacientes" action="" method="post">
        <div class="pacientes-gris">
            <div class="formulario3">
                <input type="date" id="date" name="date" min="2000-01-01" max="2022-01-01" required>
                <input type="number" id="registro" name="registro" placeholder="N registro" required>
            </div>
            <div class="formulariot1">
                <i class="fa-solid fa-user"></i>
                <h3> DATOS DEL PACIENTE</h3>
            </div>
            <div class="form-datospaciente">
                <div class="formulario2">
                    <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre" required>
                    <div class="dT">
                        <select name="tipo_documento" id="tipo_documento" required>
                            <option value="" selected>Tipo documento</option>
                            <option value="1">Cédula de ciudadanía</option>
                            <option value="2">Tarjeta de identidad</option>
                            <option value="3">Cédula de extranjeria</option>
                            <option value="4">Pasaporte</option>
                        </select>
                        <input type="number" id="documento" name="documento" placeholder="Numero de identificación" required>
                    </div>
                   
                    <input type="date" id="date" name="date" min="2000-01-01" max="2022-01-01" required>
                </div>
                <div class="formulario2">

                    <input type="text" name="lastname" id="lastname" placeholder="Apellido" required>
                    
                    <input name="edad" id="edad" type="number" placeholder="Edad" required> 

                    <select name="eps" id="eps" required>
                        <option value="" selected>EPS</option>
                        <option value="1">Convida</option>
                        <option value="2">Famisanar</option>
                        <option value="3">Compensar</option>
                        <option value="4">Salud Colmena</option>
                        <option value="5">Medimas</option>
                        <option value="4">Sanitas</option>
                        <option value="4">Saludcoop</option>
                        <option value="4">Cruz Blanca</option>
                    </select>
                </div>
            </div>
        
            <div class="formulariot1">
                <i class="fa-solid fa-location-dot"></i>
                
                <h3>INFORMACIÓN DE CONTACTO</h3>
            </div>
            <div class="form-datospaciente">
                <div class="formulario2">
                   <select name="sede" id="sede" required>
                       <option value="">Sede</option>
                       <option value="1">Circunvalar</option>
                       <option value="3">Corferias</option>
                       <option value="4">Suba</option>
                       <option value="4">Bosa</option>
                       <option value="4">Chapinero Central</option>
                       

                   </select>
                    <input type="text" name="idProfesional" id="idProfesional" placeholder="ID del profesional" required>

                </div>
                <div class="formulario2">
                    <select name="profesional" id="profesional" required>
                        <option value="">Profesional</option>
                        <option value="1">Lina Sierra</option>
                        <option value="2">Camila Cipagauta</option>
                        <option value="3">Kiko Palomares</option>
                        <option value="4">Peppa Pig</option>
                    </select>
                    <select name="dosis" id="dosis" required>
                        <option value="">Dosis</option>
                        <option value="1">Primera dosis</option>
                        <option value="2">Segunda dosis</option>
                    </select>
                </div>

              
            </div>
            <div class="dosificacion">
                <div class="formulario_3">
                    <select name="biologico" id="biologico" required>
                        <option value="">Biologico</option>
                        <option value="1">Janssen</option>
                        <option value="2">Moderna</option>
                        <option value="3">Pfizer</option>
                        <option value="4">Sinovac</option>
                        <option value="5">Astrazeneca</option>
                        <option value="6">Bharat Biotech</option>
                    </select>
                    <input type="date" id="dosisUno" name="dosisUno" required>
                    <input type="date" id="dosisDos" name="dosisUno" required>  
                </div>
                
                <div class="observ">
                    <textarea name="textarea" rows="10" cols="50">Write something here</textarea>
                </div>
                
            </div>
            
        </div>
    </form>
    
    <div class="item15">
        <h6>© 2021 FORJA EMPRESAS</h6>
    </div>


    <script src="../assets/js/nuevaDosis.js"></script>
</body>
</html>