<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/78f25a04b2.js" crossorigin="anonymous"></script>
    <title>Pacientes</title>
</head>
<body class="mispacientes">
    <div class="headerpacientes">
        <img src="../assets/img/0. logoforja.png" alt="">
        <div class="arriba">
            <div class="i1">
                <a href="./dasboard.html"><i class="fa-solid fa-house-chimney-user"></i></a>
            </div>
            <div class="i1">
                <a href="../index.html"><i class="fa-solid fa-power-off"></i></a>
            </div>
        </div>
        
        
    </div>
    <div class="barrap">
        <img src="../assets/img/12. franja.svg" alt="">
    </div>
    <div class="bb">
        <a href="./pacientesadd.html"><button class="add">Agregar<i class="fa-solid fa-user-plus"></i></button></a>
        <div>
            <input type="text" name="buscar" placeholder="Numero de documento" class="inpa"><a href=""><i class="fa-solid fa-magnifying-glass btnd1"></i></a>
        </div>
    </div>
    <h1 class="pacientes">PACIENTES</h1>

    <div class="btable">
        

        <table class="tablapacientes" >
            <tr>
                <th># DE REGISTRO</th>
                <th># DOCUMENTO</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>EDAD</th>
                <th colspan="2">ACCIONES</th>
            </tr>
            <tr>
                <td>1111</td>
                <td>456231</td>
                <td>Paola</td>
                <td>Perezeses</td>
                <td>2+16</td>
                <td><button class="btndp2">Editar<i class="fa-solid fa-pen-clip"></i></button><button class="btndp3">Eliminar<i class="fa-solid fa-trash"></i></button></td>
            </tr>
            <tr>
                <td>1111</td>
                <td>456231</td>
                <td>Paola</td>
                <td>Perezeses</td>
                <td>2+16</td>
                <td><button class="btndp2">Editar<i class="fa-solid fa-pen-clip"></i></button><button class="btndp3">Eliminar<i class="fa-solid fa-trash"></i></button></td>
            </tr>
            <tr>
                <td>1111</td>
                <td>456231</td>
                <td>Paola</td>
                <td>Perezeses</td>
                <td>2+16</td>
                <td><button class="btndp2">Editar<i class="fa-solid fa-pen-clip"></i></button><button class="btndp3">Eliminar<i class="fa-solid fa-trash"></i></button></td>
            </tr>
            <tr>
                <td>1111</td>
                <td>456231</td>
                <td>Paola</td>
                <td>Perezeses</td>
                <td>2+16</td>
                <td><button class="btndp2">Editar<i class="fa-solid fa-pen-clip"></i></button><button class="btndp3">Eliminar<i class="fa-solid fa-trash"></i></button></td>
            </tr>
            <tr>
                <td>1111</td>
                <td>456231</td>
                <td>Paola</td>
                <td>Perezeses</td>
                <td>2+16</td>
                <td><button class="btndp2">Editar<i class="fa-solid fa-pen-clip"></i></button><button class="btndp3">Eliminar<i class="fa-solid fa-trash"></i></button></td>
            </tr>
            <tr>
                <td>1111</td>
                <td>456231</td>
                <td>Paola</td>
                <td>Perezeses</td>
                <td>2+16</td>
                <td><button class="btndp2">Editar<i class="fa-solid fa-pen-clip"></i></button><button class="btndp3">Eliminar<i class="fa-solid fa-trash"></i></button></td>
            </tr>
        </table>
    </div>
</div>
<div class="item15">
    <h6>© 2021 FORJA EMPRESAS</h6>
</div>
</body>
</html>