@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    max-height: 100%;

}
:root{
    --red-color: #a40101;
    --blue-color:#2CA3AB;
    --gray-color: #c4c4c4;
    --orange-color: #F3610E;
    --blue-dark-color:#1D1B45;
    --dark-color:#333;
    --white-color:#fff;
}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}

.grid-container{
    display: grid;
    background-color: white;
    grid-template-areas: 
    "item2 item2 item3 item3"
    "item1 item1 item1 item1"
    "itemy itemy itemy itemy"
    "item4 item4 item4 item4"
    "item5 item5 item5 item5"
    "item6 item6 item6 item6"
    "item7 item7 item7 item7"
    "item8 item8 item8 item8"
    "item9 item9 item9 item9"
    "item10 item10 item10 item10"
    "item11 item11 item11 item11"
    "item12 item12 item12 item12"
    "item13 item13 item13 item13"
    "item14 item14 item14 item14"
    "item15 item15 item15 item15";
    
}
.grid-container div{
  
}

.item1{
    text-align: center;
    grid-area:item1;
    height: 80px; 
}
.item1 img{
    text-align: center;
}
.itemy{
    text-align: center;
    grid-area: itemy;
}
.item2{
    text-align: center;
    grid-area:item2;
    color: var(--gray-color);
}
.item2 i{
    margin: 8px;
    text-shadow: 2px 2px 2px var(--dark-color);
    color: var(--orange-color);
}
.item3{
    text-align: center;
    grid-area:item3;
    color: var(--gray-color);
}
.item3 i{
    margin: 8px;
    text-shadow: 2px 2px 2px var(--dark-color);
    color: var(--orange-color);
}
.item4{
    grid-area:item4;
    text-align: left;
    padding: 7px;
    height: 60px;
}
.boton{
    border-radius: 30px;
    padding: 10px;
    background-color: var(--blue-color);
    border-style: none;
    color: var(--gray-color);
    box-shadow: 2px 2px 2px var(--dark-color);

}
.item5 {
    grid-area:item5;
    
}
.item5 img{
    max-width: 768px;
    height: 100%;
}
.item6 {
    text-align: center;
    grid-area:item6;
    height: 400px;
}
.item6 img{
    max-width: 768px;
    width: 100%;
    height: 100%;
}
.bannerletras{
    position:absolute;
    width: 400px;
    left: 100px;
    bottom: 30px;
}
.bannerletras h2{
    color: var(--orange-color);
}
.bannerletras h1{
    color: var(--blue-dark-color);
}
.item7{
    grid-area:item7;
    
}
.item7 img{
    max-width: 768px;
    width: 100%;
    height: 100%;
}
.item8{
    background-image: url(../img/4.\ covid.jpeg);
    text-align: center;
    grid-area:item8;
    height: 400px;
    padding: 30px;
}
.item8 h3{
    text-align: justify;
    color: var(--blue-dark-color);
}
.item8 ul{
    text-align: justify;
    padding:20px;
    list-style: none;
    line-height:50px;
    
}
.item8 i{
    color: var(--red-color);
    margin: 10px;
}
.item8 img{
    width: 30px;
    margin-right: 10px;
}
.item9{
    background-image: url(../img/4.\ covid.jpeg);
    text-align: center;
    padding: 20px;
    grid-area:item9;
}
.item9 i{
    margin: 10px;
    color: var(--red-color);
}
.item9 h3{
    text-align: justify;
    color: var(--blue-dark-color);
}
.item9 p,a{
    text-align: justify;
    margin: 10px;
}
.item9 img{
    justify-content: center;
    margin: 0 200px;
    width: 200px;
}
.item10{
    
    grid-area:item10;
    height: 40px;
    
}
.foot{
    background-color: var(--blue-dark-color);
    border-bottom: 5px solid var(--gray-color);
    color: var(--white-color);
    text-align: left;
    width: 100%;
    height: 100%;
}
.item11{
    grid-area:item11;
    height: 40px;
}
.item12{
    grid-area:item12;
    height: 40px;
}
.item13{
    grid-area:item13;
    height: 40px;
}
.item14{
    grid-area:item14;
    height: 40px;
}
.item15{
    color: var(--white-color);
    background-color: var(--dark-color);
    text-align: center;
    grid-area:item15;
    height: 100px;
}


@media screen and (min-width:768px){
    .grid-container{
        display: grid;
        background-color: white;
        grid-template-areas: 
        "item2 itemy2 item3 item3 item4"
        "item1 item1 item1 itemy itemy"
        "item5 item5 item5 item5 item5"
        "item6 item6 item6 item6 item6"
        "item7 item7 item7 item7 item7"
        "item8 item8 item8 item8 item8"
        "item9 item9 item9 item9 item9"
        "item10 item10 item10 item10 item10" 
        "item11 item11 item11 item11 item11"
        "item12 item12 item12 item12 item12"
        "item13 item13 item13 item13 item13"
        "item14 item14 item14 item14 item14"
        "item15 item15 item15 item15 item15";
        
    }
    .item1{
        text-align: right;
    }
    .itemy{
        text-align: left;
    }
    .item5 img{
        max-width: 1024px;
        height: 100%;
    }
    .item6 img{
        max-width: 1024px;
    width: 100%;
    }
    .bannerletras{
        bottom: 180px;
    }
    .item7 img{
        max-width: 1024px;
    width: 100%;
    }
    .item8{
        height: 100%;
    }
    .foot{
        max-width: 1024px;
        width: 100%;
    }
}
@media screen and  (min-width:1024px){
    .grid-container{
        display: grid;
        background-color: white;
        grid-template-areas: 
        "span span item2 item3 item4"
        "item1 itemy item5 item5 item5"
        "item6 item6 item6 item6 item6"
        "item7 item7 item7 item7 item7"
        "item8 item8 item8 item9 item9"
        "item10 item10 item10 item10 item10" 
        "item11 item11 item11 item11 item11"
        "item12 item12 item12 item12 item12"
        "item13 item13 item13 item13 item13"
        "item14 item14 item14 item14 item14"
        "item15 item15 item15 item15 item15";
    }
    .item1 img{
        padding-bottom: 20px;
    }
    .itemy img{
        max-width: 900px;
        height: 50px;
    }
    .item4{
        padding-top: 25px;
    }
    .item5 img{
        height: 40px;
    }
    .item6 img{
        max-width: 1500px;
        width: 100%;
    }
    .item7 img{
        max-width: 1500px;
        width: 100%;
    }
    .foot{
        max-width: 1500px;
        width: 100%;
    }
    .item8{
        width: 100%;
    }
    .item9{
        width: 100%;
    }
    .item9 p{
        width: 600px;
    }
}
    
